.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 4%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 413px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  padding: 12px 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  background-image: url(../images/like_icon.svg);
  background-color: transparent;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 634px) {
  .card__image {
    max-width: 288px;
    height: 288px;
  }
}
