.card {
  position: relative;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  flex: 1;
  min-width: 0;
  max-width: 353px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  padding: 12px 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  background-image: url(../images/like_icon.svg);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.card__like-button:hover {
  opacity: 1;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-image: url(../images/default_bin-icon.svg);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.card__delete-button:hover {
  background-image: url(../images/hover_bin-icon.svg);
}

.card__like-button_active {
  background-image: url(../images/like_active_icon.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 634px) {
  .card__image {
    max-width: 100%;
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
