.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-image: url(../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  padding: 4px 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__span {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
}

.modal__input {
  width: 100%;
  height: 54px;
  margin: 8px 0 0;
  padding: 16px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid;
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #21212166;
  transition: 0.3s ease-in-out;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2121214d;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
}

.modal__submit-button:hover {
  opacity: 0.4;
}

@media screen and (max-width: 844px) {
  .modal__container {
    margin: 0 10px;
  }
}

@media screen and (max-width: 634px) {
  .modal__container {
    max-width: 300px;
    margin: 0 10px;
    padding: 12px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    margin: 0 0 24px;
    padding: 10px 0 0;
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-button {
    margin: 0;
    width: 100%;
  }
}
