.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  max-width: 420px;
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-button {
  width: 112px;
  margin-top: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  color: rgba(33, 33, 33, 0.7);
  background-color: #fcf5e5;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.profile__edit-button-icon {
  width: 19px;
  height: 16px;
  opacity: 0.7;
  transition: 0.3s;
}

.profile__edit-button:hover {
  color: rgba(33, 33, 33);
}

.profile__edit-button:hover .profile__edit-button-icon {
  opacity: 1;
}

.profile__add-button {
  width: 149px;
  height: 52px;
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  border-radius: 8px;
  margin-top: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.profile__add-button-icon {
  width: 12px;
  height: 12px;
}

.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.7);
}

@media screen and (max-width: 634px) {
  .profile {
    flex-direction: column;
    width: 100%;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    max-width: 288px;
    margin: 0 0 6px;
    font-size: 20px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    max-width: 288px;
    margin: 0 0 32px;
  }

  .profile__edit-button {
    margin: 20px auto 0;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
