.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 60px 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}
